
.resource {
  margin: 2px;
  width: 100%;
  height: 100%;
  position: relative;
  color: white;
  overflow: hidden;
  box-shadow: 5px 5px 10px grey;
}

.resource img {
  width: 100%;
  height: 100%;
}

#overlay {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(29,33,79,.85);
  width: 100%;
  height: 100%;
  position: absolute;
  top: auto;
  bottom: 0;
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.resource:hover img {
  transform: scale(2);
  transition: transform 0.5s;
}

.resource:hover #overlay {
  opacity: 1;
  transform: translateX(0px);
}

.button-title {
  color: #1d214f;
  z-index: 1;
  line-height: 1em;
  padding: 0px;
  margin: 0;
}

.collection-filters-toggle {
    background-color: #f0f0f5;
    display: block;
    color: #1d214f;
    padding: 14px 22px;
    font-size: 1.25rem;
    font-weight: 700;
    float: right;
    vertical-align: middle;
}


.collection-grid-filters {
  width: 100%;
    position: fixed;
    bottom: 0;
    box-shadow: 0 -2px 16px 0 rgba(28,29,33,.25);
    transition: opacity .3s ease;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    z-index: 5;
}

.row {
  margin-left: -15px;
}

.collection-filters-toggle.btn-collapse>div {
  width: 100%;
}

.filter-group--filtering {
    background-color: #f0f0f5;
    width: 100%;
}

.filter-group {
  float: left;
  padding: 14px 16px;
}

.filter-text {
  display: inline-block;
}

.btn-collapse {
    border: none;
    padding: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.btn-collapse {
    border: none;
    padding: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.dd-list {
  top: auto;
    bottom: 100%;
    margin-bottom: 2px;
    min-width: 100%;
    padding: 10px 0;
}

* {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -142px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 142px; /* .push must be the same height as .footer */
}
